<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div>A端的公钥--->pem</div>
  <div>
    <button  (click)="generate_A()">generate_A</button>
  </div>
  <textarea   class="container" id="key_a" style="word-break:break-all"></textarea>
</div>

<div>

<div>
<div>B端的公钥--->pem</div>
  <div>
    <button  (click)="generate_B()">generate_B</button>
  </div>
  <textarea   class="container" id="key_b" style="word-break:break-all"></textarea>
</div>

<div>
<div>A的pub_key + B的pri_key->share_key</div>
<div>
  <button  (click)="share_key_A()">share_key_A</button>
</div>
<textarea   class="container" id="share_key_pubA_priB" style="word-break:break-all"></textarea>
</div>

<div>
<div> B的pub_keu + A的pri_key->share_key</div>
<div>
  <button  (click)="share_key_B()">share_key_B</button>
</div>
<textarea   class="container" id="share_key_pubB_priA" style="word-break:break-all"></textarea>
</div>


  <div>
    <div>AES加密</div>
    <div>
      <label>明文：hello aes</label>
    </div>
    <div>
      <button  (click)="aes_encry()">AES加密</button>
    </div>

    <textarea   class="container" id="aes_encry" style="word-break:break-all"></textarea>
  </div>
